{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">

  <div class="row main-container">
    <div id="image-container" class="col-12 col-sm-8">
      <img class="img-fluid" src="{{ MEDIA_URL }}homepage-image.jpg" alt="Two atheletes using the ropes">
      <div class="col-6 text-center">
      </div>
    </div>
    <div class="col-12 col-sm-4 flex-container">
      <div id="offers-block" class="text-center">
        <h2>Spring Offer:</h2>
        <p>Free delivery on orders over £{{free_delivery_threshold}}!</p>
        <p class="text-muted"><small>*Offer avaliable until 01/12/23.</small></p>
        <a href="{% url 'item_list' %}">
          <p class="btn btn-outline-dark btn-xlarge pt-2 h-100">Shop now</p>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 class="col-12 col-md-2 text-center mt-4">Why Gym Shop?</h2>
    <p class="col-12 col-md-10 pt-4">Gym shop is the one stop place to buy all your gym equipment! Whether you're a gym
      owner after exercise machines for your gym, or whether you're just after a few dumbbells for your home gym, Gym Shop
      has got all you need. You won't find better deals elsewhere. Based in Manchester, UK, we deliver nationwide so take control of our spring deals. </p>
  </div>
  <hr>
</div>
{% endblock %}