{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<h1><i class="fas fa-user fa-lg"></i> {{user.username}}</h1>
<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <h3>My Details</h3>
            <a  style="float:right; margin-bottom: 5px;" class="btn btn-success" href="{% url 'edit_profile' profile.id %}">Update info</a>
           
            <table class="table">
                <tr>
                    <th><h5>Name: <strong>{{profile.first_name}}</strong></h5></th>
                    <th><h5>Surname: <strong>{{profile.last_name}}</strong></h5></th>
                </tr>
                <tr>
                    <th><h5>Email: <strong>{{user.email}}</strong></h5></th>
                    <th><h5>Contact Number: <strong>{{profile.phone}}</strong></h5></th>
                </tr>
                <tr>
                    <th><h5>Shipping Address: <strong>
                        <li>{{profile.default_address}}</li>
                        <li>{{profile.default_city}}</li>
                        <li>{{profile.default_county}}</li>
                        <li>{{profile.default_postcode}}</li>
                    </strong></h5></th>
                </tr>          
            </table>
        </div>
        <br>
        <div class="box-element">
            <p>Recent orders</p>
            <hr/>
            {% if recent_orders %}
                <table class="table">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Shipping</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in recent_orders %}
                    <tr>
                        <td>{{order.id}}</td>
                        <td>{{order.date_ordered}}</td>
                        <td>{{order.payment.display_amount|floatformat:2}}</td>
                        <td>{{order.shipping}}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>No orders found.</p>
            {% endif %}
            
        </div>
        
    </div>
</div>
<br>

{% endblock content %}