<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="img/png" href="{% static 'images/favicon.png' %}">
  <!-- CSS link -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!-- Bootstrap link -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script type="text/javascript">
    var user = '{{request.user}}'

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>

  <title>Gym Shop</title>
</head>


<body>

  <header class="container-fluid fixed-top bg-light">
    <div class="row">
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
        <a href="" class="nav-link main-logo-link">
          <h2 class="logo-font text-black my-0">Gym Shop</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'item_list' %}">
          <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q"
              placeholder="What are you looking for?">
            <div class="input-group-append">
              <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown">
            <a class="text-black nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg"></i></div>
                {% if request.user.is_authenticated %}
                <p class="my-0">{{ user.username }}</p>
                {% else %}
                <p class="my-0">Log in/Register</p>
                {% endif %}

              </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <div class="text-center">
              <div>
                <a href="{% url 'cart' %}">
                  <img id="cart-icon" src="{% static 'images/cart.png' %}">
              </div>
              <p class="my-0" id="cart-total">0</p>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row bg-white">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
          aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- {% include 'includes/mobile-top-header.html' %} -->
        {% include 'includes/main-nav.html' %}
      </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
      <div class="col">
        <h4 class="logo-font my-1">Free delivery on orders over £99</h4>
      </div>
    </div>
  </header>

  <div class="container">
    <br>
    {% block content %}


    {% endblock content %}
  </div>

  <footer class="container-fluid">
    <div class="row footer-background">
      <!-- Location -->
      <div class="col-xs-4 col-sm-4 col-md-3">
        <p class="mt-3"><strong>Where we're based:</strong></p>
        <p>Gym Shop<br>445 Parrs Wood Road<br>Didsbury<br>Manchester<br>M20 5NE</p>
      </div>
      <!-- Information -->
      <div class="col-xs-4 col-sm-4 col-md-3">
        <p class="mt-3"><strong>Service</strong></p>
        <ul class="mt-3 footer-list">
          <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#retRefModal">
              <p class="mb-0" id="returns">Returns & Refunds</p>
            </a></li>
          <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#shippingModal">
              <p id="shipping" class="mb-0">Delivery and Shipping</p>
            </a></li>
          <li><a class="footer-text" data-bs-toggle="modal" data-bs-target="#faqModal">
              <p id="faqs" class="mb-0">FAQs</p>
            </a></li>
          <li><a class="footer-text"
              href=""
              target="_blank">Privacy
              Policy</a></li>
        </ul>
      </div>
      <!-- Quick Links -->
      <div class="col-xs-4 col-sm-4 col-md-3">
        <p class="mt-3"><strong>Quick Links</strong></p>
        <ul class="mt-3 footer-list">
          <li><a class="footer-text" href="#">Shop</a></li>
          <li><a class="footer-text" href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
      </div>
      <!-- Social Links -->
      <div class="col-xs-4 col-sm-12 col-md-3 icons">
        <p class="mt-3 small-screen-hide"><strong>Follow Us</strong></p>
        <ul class="mt-3">
          <li><a href="https://www.facebook.com/" target="_blank" rel="noopener nofollow" aria-label="Visit our facebook page"><i
                class="fab fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank" rel="noopener nofollow" aria-label="Visit our twitter page"><i
                class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank" rel="noopener nofollow"
              aria-label="Visit our instagram page"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://www.youtube.com/" target="_blank" rel="noopener nofollow" aria-label="Visit our youtube page"><i
                class="fa fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Modals -->
  <!-- Returns and Refunds -->
  <aside class="modal fade" id="retRefModal" tabindex="-1" aria-labelledby="retRefModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="retRefModalLabel">Returns and Refunds</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div data-custom-class="body">
            <p class="text-muted">Last updated: February 23, 2023</p>

            <p>Thank you for your purchase. We hope you are
              happy with your purchase. However, if you are not completely satisfied with your
              purchase for any reason, you may return it to us for a full refund or an exchange.</p>
            <p>Please see below for more information on our return policy.</p>
            <hr>
            <h5>Return Process</h5>
            <p>All returns must be postmarked within foutreen (14) days of the purchase date.
              All refunded items must be in new and unused condition, with all original tags and
              labels attached.</p>
            <h5>Returns Process</h5>
            <p>To return an item, please email customer service at <a
                href="mailto:gymshop.example@gmail.com">gymshop.example@gmail.com</a> to obtain a
              Return Merchandise Authorisation (RMA) number. After receiving a RMA number, place the item
              secuely in its original packaging, and mail your return to the following address:
            </p>
            <div class="container border border-secondary">
              <ul class="list-unstyled">
                <li>Gym Shop</li>
                <li>Attn: Returns</li>
                <li>RMA #</li>
                <li>445 Parrs Wood Road</li>
                <li>Didsbury</li>
                <li>Manchester</li>
                <li>M20 5NE</li>
              </ul>
            </div>
            <p>You may also use the prepaid shipping label enclosed with your package. Return shipping
              charges will be paid or reimbursed by us.</p>
            <h5>Refunds</h5>
            <p>After receiving your return and inspecting the condition of your item, we will process your
              return or exchange. Please allow at least two (2) days from the receipt of your item to
              process your return or exchange. We will notify you by email when your return has been
              processed.</p>
            <h5>Exceptions</h5>
            <p>For defective or damaged products, please contact us at the contact details below to arrange
              a refund or exchange.</p>
            <strong>Please Note</strong>
            <ul>
              <li>Sale items are FINAL SALE and cannot be returned.</li>
            </ul>
            <h5>Questions</h5>
            <p>If you have any questions concerning our returns policy, please contact us at <a
                href="mailto:gymshop.example@gmail.com">gymshop.example@gmail.com</a>.</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </aside>
  <!-- Delivery -->
  <aside class="modal fade" id="shippingModal" tabindex="-1" aria-labelledby="shippingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="shippingModalLabel">Delivery and Shipping</h1>
          <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#shippingModal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div data-custom-class="body">
            <p class="text-muted">Last updated: February 23, 2023</p>

            <p>Please carefully review our Shipping & Delivery Policy when purchasing our products. This
              policy will apply to any order you place with us.</p>
            <hr>
            <h4><u>What are my shipping and delivery options?</u></h4>
            <p>We offer delivery options to those in the UK. In some cases a third-party supplier may be
              managing our inventory and will be responsible for delivering your products.</p>
            <h5>Free Delivery</h5>
            <p>We currently offer free standard delivery on orders over £500.
            </p>
            <h5>Expedited Delivery Fees</h5>
            <p>We also offer delivery at a rate of 10% of the grand total of your order.</p>
            <p>All times and dates given for delivery of the products are given in good faith but are
              estimates only.</p>
            <h5>Do you deliver Internationally?</h5>
            <p>We do not offer any international shipping.</p>
            <h5>Are there any other shipping restrictions?</h5>
            <p>If you require your purchase to be delivered to a PO Box, first you must contact customer
              service to determine if the delivery address is acceptable to recieve the products. If these
              precautions are not taken and as a result delivery fails, GymShop will not be responsible or
              liable to give a refund.</p>
            <p>If you have questions about returns, please review our
              <a class="terms" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#retRefModal">Returns and
                Refunds Policy</a>.
            </p>
            <h5>Questions</h5>
            <p>If you have any questions concerning our shipping and delivery policy, please contact us at
              <a href="mailto:gymshop.example@gmail.com">gymshop.example@gmail.com</a>.
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </aside>
  <!-- FAQ -->
  <aside class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="faqModalLabel">FAQs</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-muted">Last updated: February 23, 2023</p>
          <hr>
          <div class="accordion" id="faqAccordion">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Where is my equipment from?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <hr>
                  <li>All products are manufactured in our UK warehouses using components made in the UK.</li>
                  <br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Can I cancel my order?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <hr>
                  <li>We are unable to cancel your order once this has been placed and accepted by our
                    fulfilment centre in Manchester.</li>
                    <br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Can I amend my order?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <hr>
                  <li>Once orders have been accepted by the fulfilment centre we are unable to make any
                  amendments.</li> 
                  <br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Can I change my shipping address provided?
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <hr>
                  <li>We are unable to change the shipping address once this has been accepted by our
                    fulfilment centre. Please ensure all details are correct before placing your
                    order.</li>
                  <li>GymShop cannot be held liable for any limitations of customers personal
                    devices when using our website. This includes, but is not limited to: Device
                    make or
                    model, operating system, browser, browser extensions, the use of autofill and
                    third-party payment processors such as Apple Pay or Paypal whereby details are
                    automatically entered.</li>
                    <br>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  My product does not look like the one on the website.
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                  <hr>
                  <li>The product images provided are for illustrative purposes only and have been
                    photographed under studio conditions.</li>
                    <br>
                </div>
              </div>
            </div>
          </div>
          <br>
          <h5>Other Questions</h5>
          <p>If you have any other questions, please contact us at
            <a href="mailto:gymshop.example@gmail.com">gymshop.example@gmail.com</a> and we will do our best
            to answer them.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </aside>

  <!-- Bootstap JS links -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous">
  </script>
  <!-- Stripe payments -->
  <script src="https://js.stripe.com/v3/"></script>
  <!-- Font awsome link -->
  <script src="https://kit.fontawesome.com/a3c891aa8d.js" crossorigin="anonymous"></script>
  <!-- JS link -->
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>

</body>


</html>