html {
    height: 100%;
}

body {
	padding-top: 150px;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}  

/* Nav Bar */
.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
    position: relative;
    text-decoration: none;
}

.navbar .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
    left: 0;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}


.btn-black {
    background: black;
    color: white;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.increment-qty:hover,
.increment-qty:active,
.increment-qty:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-price {
    display: inline-block;
    float: right;
  }


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-background {
    background-color: whitesmoke;
}

.footer-text{
    color: black;
}

.footer-list a {
    display: inline-block;
    text-decoration: none;
}

.footer-list a:hover {
    color: #63372c;
    cursor: pointer;
}

.footer-list li {
    list-style: none;
}

.footer-list {
    padding-left: 0;
}

.icons ul {
    padding: 0;
}

.icons li {
    display: inline;
    padding: 10px;
}

.icons li i {
    color: black;
    font-size: 20px;
}

.icons li i:hover {
    color: #465c69;
}

.terms{
    cursor: pointer;
}

/* Force the footer to bottom of page */
html, body {
    height: 100%;
}

body > footer {
  position: sticky;
  top: 100vh;
}

#offers-block {
    padding-top:50%;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 28px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

a {
    outline: none !important;
}

.logo-font {
    text-transform: uppercase;
}

@media screen and (max-width: 990px){
    body {
        padding-top: 250px;
        background-size: cover;
        height: calc(100vh - 164px);
        color: #555;
        font-family: 'Lato';
    }
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }
  
  /* pad the top a bit when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
  }