{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="row">

    <div class="col-lg-6">
        <form id="payment-form">
            <h3 id="payment-form-title"> Payment Information</h3>
            <div id="payment-element">
              <!--Stripe.js injects the Payment Element-->
            </div>
            <button id="payment-submit" class="hidden">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
          </form>
    </div>
        <!-- Button to make payment -->
        <!-- <div class="box-element hidden" id="payment-info">
            <small>Pay Options</small>
            <button id="make-payment">Make Payment</button>
        </div> -->
        
    <!-- Order summary section -->
    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.title}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Delivery:  <strong><s>Spend £99</s>  FREE</strong></h5>
            <h5>Total:   £{{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
</form>
<br>

{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ stripe_redirect_url|json_script:"id_stripe_redirect_url" }}
{% endblock content %}
    
{% block head %}
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'css/payments.css' %}" >
    <script type="text/javascript">
        const stripe_public_key = "{{stripe_public_key}}"
        const stripe_redirect_url = "{{stripe_redirect_url}}"
    </script>
    <script src="{% static 'js/payments.js' %}" defer></script>
{% endblock head %}