{% extends 'store/base.html' %}
{% load static %}

{% block content %}



        <!-- Button to make payment -->
        <!-- <div class="box-element hidden" id="payment-info">
            <small>Pay Options</small>
            <button id="make-payment">Make Payment</button>
        </div> -->
        
    </div>
    <!-- Order summary section -->
    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.title}}</p></div>
                <div style="flex:1"><p>{{item.product.price|floatformat:2}}</p></div>
                <div style="flex:1"><p>{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Total:   £{{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
<form action="">
    <div class="box-element hidden" id="payment-info">
        <fieldset class="px-3">
            <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
            <!-- A Stripe card element will go here -->
            <div class="mb-3" id="card-element"></div>

            <!-- Used to display form errors -->
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
        </fieldset>
        <button id="submit-button" class="btn btn-black rounded-0">
            <span class="font-weight-bold">Complete Order</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </button>
        <p class="small text-danger my-0">
            <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <span>Your card will be charged <strong>£{{ order.get_cart_total|floatformat:2 }}</strong></span>
        </p>

    </div>
</form>

</form>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}